@media screen and (max-width: 800px) {
  .invisable {
    display: none;
  }
  .center {
    margin-left: 12%;
    width: 100vw;
    margin-top: -25%;
  }
  .more {
    margin: -35%;
  }
  .centerMore {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35%;
  }
  .height {
    height: 750vh;
    margin-top: -60%;
    
  }
  .marginTop{
    margin-top: 750%;
  }
}
.borderRadious {
  border-radius: 20px;
  background-color: #05e8ba;
  background-image: linear-gradient(315deg, #05e8ba 0%, #022642 0%);
  box-shadow: 0 0 10px 1px #48abe0, 0 0 20px 1px #ebecca, 0 0 25px 10px #8a2be2,
    0 0 30px 15px #ff1493;
}

.style.tiltEffect {
  transform: perspective(1000px) rotateX(5deg) rotateY(5deg); /* Adjust the tilt angles as needed */
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth animation */
}
.experience {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    margin-top: 25vh;
  }
}

.type {
  overflow: hidden;

  white-space: nowrap;

  margin: 0;
  animation: typing 2s steps(10), cursor 0.4s step-end infinite alternate;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.type::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 1em;

  animation: typing 2s steps(13, end);
}
@media screen and (max-width: 800px) {
  .contactHeight{
    margin-top: 200vh;
    /* z-index: 300; */
    
    
  }
  .workMarginTop{
    margin-top: 50vh;

  }
 .contact{
  display: flex;
  flex-direction: column;
 
 }
}

